---
version: "2"
services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard

    ports:
      - 51820:51820/udp

    cap_add:
      - NET_ADMIN
      - SYS_MODULE

    environment:
      - PUID=1000
      - PGID=1000
      - TZ="America/New_York"
      - SERVERURL=wireguard.whitehome.io #optional
      - SERVERPORT=51820 #optional
      - PEERS=8 #optional
      - PEERDNS=auto #optional
      - INTERNAL_SUBNET=192.168.124.0 #optional
      - ALLOWEDIPS=10.124.40.0/24,10.124.40.0/24 #optional

    volumes:
      - /home/wireguard:/config
      - /lib/modules:/lib/modules

    sysctls:

      - net.ipv4.conf.all.src_valid_mark=1

    restart: unless-stopped
